// Heading links should not be styled by color, but should have a hover text decoration
$ng-border-width:                       8px !default;

.ng-panel-themed {
    > .ng-panel-title {
        border-left: $ng-border-width solid $ng-gold;
        padding-left: 10px;
        margin-bottom: 9px;
    }
    > p, > .ng-panel-title + p {
        margin-top: 0;
        margin-bottom: 9px;
    }
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6{
        font-family: $base-body-font-family;
        font-weight: bold;
        a {color: inherit}
        a:hover {color: inherit}
    }
}