$audience-gradient-top:                         #e49e2c;
$audience-gradient-bottom:                      #dd8d00;
$audience-background:                           #e49e2c !default;
$audience-color:                                #fff;
$te-gradient-top:                               #e49e2c;
$st-gradient-top:                               #bd121a;

$theme-background: url("../images/themes/bg-GETE.jpg");
$body-background-color: #000;