$audience-gradient-top:                         #bd121a;
$audience-gradient-bottom:                      #9b0f10;
$audience-background:                           #bd121a !default;
$audience-color:                                #fff;
$te-gradient-top:                               #e49e2c;
$st-gradient-top:                               #bd121a;

$theme-background: url("../images/themes/bg-GEST.jpg");
$body-background-color: #000;