<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #fc0;"></span>
		<span class="sg-label">
			$theme-primary-color <br />
			#fc0
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #1EBE28;"></span>
		<span class="sg-label">
			$theme-success-color <br />
			#1EBE28
		</span>
	</li>
</ul>
