$navbar-background:                             #262626;
$navbar-color:                                  #fff !default;
$navbar-link-color:                             $global-link-color !default;
$navbar-link-hover-color:                       $global-link-hover-color !default;
$navbar-border:                                 rgba(0,0,0,0.1) !default;
$navbar-border-bottom:                          rgba(0,0,0,0.3) !default;
$navbar-text-shadow:                            none !default;

$navbar-nav-height:                             47px !default;
$navbar-nav-line-height:                        $navbar-nav-height !default;
$navbar-nav-padding-horizontal:                 10px !default;
$navbar-nav-color:                              #fff !default;
$navbar-nav-font-size:                          $global-font-size !default;
$navbar-nav-font-weight:                        normal !default;
$navbar-nav-font-family:                        $base-body-font-family;
$navbar-nav-hover-background:                   transparent !default;
$navbar-nav-hover-color:                        #fff !default;
$navbar-nav-onclick-background:                 $global-default-active-background !default;
$navbar-nav-onclick-color:                      #CFD6D6 !default;
$navbar-nav-active-background:                  #6F7171 !default;
$navbar-nav-active-color:                       #fff !default;
$navbar-nav-subtitle-font-size:                 10px !default;
$navbar-nav-subtitle-offset:                    2px !default;
$navbar-nav-hover-border:                       rgba(0,0,0,0.1) !default;
$navbar-nav-hover-border-top:                   rgba(0,0,0,0.1) !default;
$navbar-nav-onclick-border-top:                 rgba(0,0,0,0.2) !default;
$navbar-nav-hover-box-shadow:                   rgba(0,0,0,0.1) !default;
$navbar-nav-onclick-box-shadow:                 rgba(0,0,0,0.1) !default;

$navbar-brand-font-size:                        round($global-font-size * 1.28) !default; // 18px
$navbar-brand-color:                            #fff !default;
$navbar-brand-hover-color:                      #fff !default;

$navbar-toggle-font-size:                       round($global-font-size * 1.28) !default; // 18px
$navbar-toggle-color:                           #fff !default;
$navbar-toggle-hover-color:                     #fff !default;
$navbar-toggle-icon:                            "\f0c9" !default;
$navbar-toggle-icon-alt:                        "\f002" !default;

$navbar-mini-nav-height:                        30px !default;
$navbar-mini-nav-line-height:                   $navbar-mini-nav-height !default;
$navbar-mini-nav-padding-horizontal:            10px !default;

.ng-navbar-toggle-icon, .ng-navbar-toggle-icon-alt {font-family: FontAwesome}
.ng-navbar-background {background: $navbar-background; color: #fff}
.ng-navbar-color {background: $navbar-color;}
.ng-navbar-link-color {background: $navbar-link-color;color: #fff}
.ng-navbar-link-hover-color {background: $navbar-link-hover-color;color: #fff}
.ng-navbar-border {background: $navbar-border}
.ng-navbar-border-bottom {background: $navbar-border-bottom}
.ng-navbar-text-shadow {background: $navbar-text-shadow}

.ng-navbar-nav-color {background: $navbar-nav-color;color: #fff}
.ng-navbar-nav-hover-background {background: $navbar-nav-hover-background}
.ng-navbar-nav-hover-color {background: $navbar-nav-hover-color;color: #fff}
.ng-navbar-nav-onclick-background {background: $navbar-nav-onclick-background}
.ng-navbar-nav-onclick-color {background: $navbar-nav-onclick-color;color:#fff}
.ng-navbar-nav-active-background {background: $navbar-nav-active-background}
.ng-navbar-nav-active-color {background: $navbar-nav-active-color;color: #fff}
.ng-navbar-nav-hover-border {background: $navbar-nav-hover-border}
.ng-navbar-nav-hover-border-top {background: $navbar-nav-hover-border-top}
.ng-navbar-nav-onclick-border-top {background: $navbar-nav-onclick-border-top}
.ng-navbar-nav-hover-box-shadow {background: $navbar-nav-hover-box-shadow}
.ng-navbar-nav-onclick-box-shadow {background: $navbar-nav-onclick-box-shadow}

.ng-navbar-brand-color {background: $navbar-brand-color;color: #fff}
.ng-navbar-brand-hover-color {background: $navbar-brand-hover-color;color: #fff}

.ng-navbar-toggle-color {background: $navbar-toggle-color;color: #fff}
.ng-navbar-toggle-hover-color {background: $navbar-toggle-hover-color;color: #fff}


@mixin hook-navbar(){
    border: 1px solid $navbar-border;
    border-bottom-color: $navbar-border-bottom;
    background-origin: border-box;
}
@mixin hook-navbar-nav(){
    //
    // 1. Overlap top border
    // 2. Collapse horizontal borders
    // 3. Adjust height because of 1. and `box-sizing` set to `border-box`
    //
    margin-top: -1px; // 1
    margin-left: -1px; // 2
    height: $navbar-nav-height + 1; // 3
    border: 1px solid transparent;
    border-bottom-width: 0;
    @if $navbar-text-shadow {
        text-shadow: 0 1px 0 $navbar-text-shadow;
    }
}
@mixin hook-navbar-nav-hover(){
    /*
     * Needed for hover
     * 1. Create position context to superimpose the successor elements border
     * 2. Needed because the `li` elements have already a position context
     */
    position: relative; // 1 */
    z-index: 1; // 2 */
    border-left-color: $navbar-nav-hover-border;
    border-right-color: $navbar-nav-hover-border;
    border-top-color: $navbar-nav-hover-border-top;
    box-shadow: inset 0 2px 4px $navbar-nav-hover-box-shadow;
    border-bottom: 2px solid $ng-gold;
}
@mixin hook-navbar-nav-onclick(){
    border-left-color: $navbar-nav-hover-border;
    border-right-color: $navbar-nav-hover-border;
    border-top-color: $navbar-nav-onclick-border-top;
    box-shadow: inset 0 2px 4px $navbar-nav-onclick-box-shadow;
}
@mixin hook-navbar-nav-active(){
    border-left-color: $navbar-nav-hover-border;
    border-right-color: $navbar-nav-hover-border;
    border-top-color: $navbar-nav-onclick-border-top;
    box-shadow: inset 0 2px 4px $navbar-nav-onclick-box-shadow;
}
@mixin hook-navbar-content(){
    @if $navbar-text-shadow {
        text-shadow: 0 1px 0 $navbar-text-shadow;
    }
}
@mixin hook-navbar-misc(){
    .ng-navbar:not(.ng-navbar-attached) { border-radius: $global-border-radius; }

    /*
     * Apply same `border-radius` as `ng-navbar`
     */

    .ng-navbar:not(.ng-navbar-attached) .ng-navbar-nav:first-child > li:first-child > a {
        border-top-left-radius: $global-border-radius;
        border-bottom-left-radius: $global-border-radius;
    }

    /*
     * Sub-modifier `ng-navbar-flip`
     */

    // Collapse border */
    .ng-navbar .ng-navbar-flip .ng-navbar-nav > li > a {
        margin-left: 0;
        margin-right: -1px;
    }

    // Apply same `border-radius` as `ng-navbar` */
    .ng-navbar .ng-navbar-flip .ng-navbar-nav:first-child > li:first-child > a {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .ng-navbar:not(.ng-navbar-attached) .ng-navbar-flip .ng-navbar-nav:last-child > li:last-child > a {
        border-top-right-radius: $global-border-radius;
        border-bottom-right-radius: $global-border-radius;
    }

    .ng-navbar-mini > .ng-navbar-nav > li > a {
        height: $navbar-mini-nav-height + 1;
        line-height: $navbar-mini-nav-line-height;
        padding: 0 $navbar-mini-nav-padding-horizontal;
    }
    .ng-navbar-mini > .ng-navbar-content {
        height: $navbar-mini-nav-height;
        line-height: $navbar-mini-nav-line-height;
        padding: 0 $navbar-mini-nav-padding-horizontal;
    }
}

@import "core/navbar";

@media (min-width: 987px) {
    ul.ng-navbar-nav {
        & > li {
            margin-right: 36px;
        }
    }
}

@media (max-width: 987px) {
    ul.ng-navbar-nav {
        & > li {
            margin-right: 29px;
        }
    }
}

@media (max-width: 950px) {
    ul.ng-navbar-nav {
        & > li {
            margin-right: 14px;
        }
    }
}

@media (max-width: 850px) {
    ul.ng-navbar-nav {
        & > li {
            margin-right: 0;
        }
    }
}

@media (max-width: $breakpoint-medium) {
    ul.ng-navbar-nav {
        background-color: white;
        & > li {
            &:hover > a,
            & > a:focus,
            &.ng-open > a {
                color: black;
            }
        }
    }
}

@media (max-width: $breakpoint-medium) {
    .ng-search-field, .ng-search-field-rounded {
        width: 0 !important;
    }
    .ng-search {
        &:hover {
            .ng-search-field,
            .ng-search-field-rounded {
                width: 150px !important;
            }
        }
        .ng-search-field:hover,
        .ng-search-field:focus,
        .ng-search-field-rounded:hover,
        .ng-search-field-rounded:focus {
            width: 150px !important;
        }
    }
}

@media (max-width: 430px) {
    .ng-search-field, .ng-search-field-rounded {
        width: 0 !important;
    }
    .ng-search {
        &:hover {
            .ng-search-field,
            .ng-search-field-rounded {
                width: 100px !important;
            }
        }
        .ng-search-field:hover,
        .ng-search-field:focus,
        .ng-search-field-rounded:hover,
        .ng-search-field-rounded:focus {
            width: 100px !important;
        }
    }
}

@media (max-width: 350px) {
    .ng-search-field, .ng-search-field-rounded {
        width: 0 !important;
    }
    .ng-search {
        &:hover {
            .ng-search-field,
            .ng-search-field-rounded {
                width: 90px !important;
            }
        }
        .ng-search-field:hover,
        .ng-search-field:focus,
        .ng-search-field-rounded:hover,
        .ng-search-field-rounded:focus {
            width: 90px !important;
        }
    }
}
