

$global-font-size:                              16px;
$global-line-height:                            1.85;
$body-background-color:                         #fff;
$globalwordspace:								0em;
$base-margin-vertical:                          20px;

$base-heading-font-family:                      Verlag, Helvetica, Arial, sans-serif;
$base-heading-letter-spacing:    				.12em;
$base-heading-font-weight:                      300 !default;
$base-body-font-family:                         Montserrat, Helvetica, Arial, sans-serif !default;
$base-body-font-weight:                         200;
$global-margin:                                 10px;
$global-margin-large:                           10px;

$accordion-icon-closed:                         "\1f89f";
$accordion-icon-open:                           "\1f89e";

$te-gradient-top:                               #485462;
$fm-gradient-top:                               #52BEDA;
$st-gradient-top:                               #4AA504;