@import "../ng_theme_globals";

$audience-gradient-top:                         #e98300;
$audience-gradient-bottom:                      #dd8d00;
$audience-background:                           #e98300 !default;
$audience-color:                                #fff;
$te-gradient-top:                               #e98300;
$ee-gradient-top:                               #0088ce;

$elementary-school-color:                       #722EA5;
$middle-school-color:                           #D52B1E;
$high-school-color:                             #6BA539;
$base-link-color:                               #044ea8;
$base-link-hover-color:                         #044ea8;

$theme-background: url("../images/themes/bg-LOCKHEED-ED.jpg");
$body-background-color:                         #861e00;
$page-title-margin-top:                         30px;