$column-gutter:                                   25px;

@mixin hook-column() {}
@mixin hook-column-misc() {
    
    .ng-width-smart-3-4 { 
        margin: 0 auto; 
        width: 75%; 
    }

    @media (max-width: $breakpoint-large) {
        .ng-width-smart-3-4 { 
        	width: 83.333%;
        }
    }

    @media (max-width: $breakpoint-small-max) {
        .ng-width-smart-3-4 { 
        	width: 100%; 
        }
    }

}

@import "core/column";