$comment-header-margin-bottom:                   $global-margin !default;

$comment-avatar-margin-right:                    $global-margin !default;

$comment-title-margin-top:                       5px !default;
$comment-title-font-size:                        round($global-font-size * 1.14) !default;
$comment-title-line-height:                      round($global-font-size * 1.36) !default;

$comment-meta-margin-top:                        2px !default;
$comment-meta-color:                             $global-muted-color !default;
$comment-meta-font-size:                         round($global-font-size * 0.78) !default;
$comment-meta-line-height:                       round($global-font-size * 1.49) !default;

$comment-list-margin-top:                        $global-margin !default;
$comment-list-padding-left:                      100px !default;

$comment-padding:                               10px;
$comment-border:                                $global-border;
$comment-background:                            $global-default-muted-background;

$comment-primary-color:                         #2d7091;
$comment-primary-background:                    #ebf7fd;
$comment-primary-border:                        transparentize($comment-primary-color, 0.7);
$comment-primary-text-shadow:                   $global-text-shadow;


@mixin hook-comment(){}
@mixin hook-comment-header(){
    padding: $comment-padding;
    border: 1px solid $comment-border;
    border-radius: $global-border-radius;
    background: $comment-background;
}
@mixin hook-comment-avatar(){}
@mixin hook-comment-title(){}
@mixin hook-comment-meta(){}
@mixin hook-comment-body(){
    padding-left: $comment-padding;
    padding-right: $comment-padding;
}
@mixin hook-comment-primary(){}
@mixin hook-comment-misc(){
    .ng-comment-primary .ng-comment-header {
        border-color: $comment-primary-border;
        background-color: $comment-primary-background;
        color: $comment-primary-color;
        text-shadow: 0 1px 0 $comment-primary-text-shadow;
    }
}

@import "core/comment";
