
.event-restrictions {
    td {
        vertical-align: text-top;
    }

    i.ng-icon {
        font-size: 24px;
        top: 4px;
    }

    .event-restrictions-name {
        white-space: nowrap;
    }
}
